// =============================================================================

    // Talent Cloud
    // Cards

// =============================================================================

.card {
	border-radius: 5px;
	box-shadow: 0 2px 20px rgba(5, 5, 20, .4);
	overflow: hidden;
}