{# =============================================================================

    Talent Cloud
    Design System

============================================================================= #}
{% extends "layouts/core" %}

{% block title %}

	Talent Cloud's Design System

{% endblock %}

{% block body %}

	{# Title #}

		<div class="bg-slate center triple-padding">

			<h1 class="bold white margin--bottom">Talent Cloud</h1>

			<h5 class="white">Design Framework</h5>

		</div>

	{# Methodologies #}

		<div class="container--layout triple-padding--top">

			<h2 class="margin--bottom">Methods</h2>

			<hr>

		</div>

		<div class="container--copy double-padding--top">

			<p>Things!</p>

		</div>

	{# Palette #}

		<div class="container--layout triple-padding--top">

			<h2 class="margin--bottom">Palette</h2>

			<hr>

			<div class="flex-grid gutter padding--top">

				{# Slate #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-slate">

							<div>

								<h4 class="bold white margin--bottom">Slate</h4>

								<span class="white">#1E1E1E</span>

							</div>

						</div>

					</div>

				{# Plum #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-plum">

							<div>

								<h4 class="bold white margin--bottom">Plum</h4>

								<span class="white">#5B1647</span>

							</div>

						</div>

					</div>

				{# Wine #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-wine">

							<div>

								<h4 class="bold white margin--bottom">Wine</h4>

								<span class="white">#96043E</span>

							</div>

						</div>

					</div>

				{# Crimson #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-crimson">

							<div>

								<h4 class="bold white margin--bottom">Crimson</h4>

								<span class="white">#C90035</span>

							</div>

						</div>

					</div>

				{# Sunrise #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-sunrise">

							<div>

								<h4 class="bold white margin--bottom">Sunrise</h4>

								<span class="white">#F96548</span>

							</div>

						</div>

					</div>

				{# White #}

					<div class="box gutter b-1of2 tp-1of3 ds-1of6">

						<div class="design-system__palette rounded bg-white">

							<div>

								<h4 class="bold margin--bottom">White</h4>

								<span>#FFFFFF</span>

							</div>

						</div>

					</div>

				{# Color Progression #}

					<div class="box gutter b-full ds-4of6">

						<div class="flex-grid gutter">

							{# Gradient #}

								<div class="box b-full">

									<div class="design-system__gradient rounded bg-rise">

										<div>

											<span class="white">Gradient</span>

										</div>

									</div>

								</div>

							{# Stepped #}

								<div class="box b-1of2 tp-1of4">

									<div class="design-system__progress bg-plum">

										<div>

											<span class="white bold">Step<br>01</span>

										</div>

									</div>

								</div>

								<div class="box b-1of2 tp-1of4">

									<div class="design-system__progress bg-wine">

										<div>

											<span class="white bold">Step<br>02</span>

										</div>

									</div>

								</div>

								<div class="box b-1of2 tp-1of4">

									<div class="design-system__progress bg-crimson">

										<div>

											<span class="white bold">Step<br>03</span>

										</div>

									</div>

								</div>

								<div class="box b-1of2 tp-1of4">

									<div class="design-system__progress bg-sunrise">

										<div>

											<span class="white bold">Step<br>04</span>

										</div>

									</div>

								</div>

						</div>

					</div>

				{# Grayscale #}

					<div class="box gutter fit b-full ds-2of6">

						<div class="flex-grid rounded design-system__grayscale">

							<div class="box fit b-1of2">

							</div>

							<div class="box fit b-1of2 bg-gray--dark">
								
							</div>

							<div class="box fit b-1of2 bg-gray--light">
								
							</div>

							<div class="box fit b-1of2 bg-white">
								
							</div>

						</div>

					</div>

			</div>

		</div>

	{# Typography #}

		<div class="container--layout triple-padding--top">

			<h2 class="margin--bottom">Typography</h2>

			<hr>

		</div>

		<div class="container--copy double-padding--top">

			<h3 class="bold margin--bottom">Open Sans by Steve Matteson</h3>

			<h4 class="crimson margin--bottom">Apache License 2.0</h4>

			<p class="margin--bottom">Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. This version contains the complete 897 character set, which includes the standard ISO Latin 1, Latin CE, Greek and Cyrillic character sets. <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank" title="Visit Open Sans on Google Fonts">Open Sans</a> was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.</p>

			<p class="double-margin--bottom">Talent Cloud uses a 1.333 type scale for its typography.</p>

			<h1 class="margin--bottom">H1: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h1>

			<h2 class="margin--bottom">H2: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h2>

			<h3 class="margin--bottom">H3: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h3>

			<h4 class="margin--bottom">H4: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h4>

			<h5 class="double-margin--bottom">H5: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h5>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae felis at purus molestie luctus. Duis maximus magna ante, id pellentesque purus vestibulum vel. Aliquam erat volutpat. Aliquam mattis turpis a ligula blandit gravida. Fusce lobortis tempus augue quis venenatis. Proin sed lobortis purus. Donec vitae libero id lectus ultrices dignissim convallis ut augue. Etiam imperdiet tellus at dictum molestie. Duis ex dolor, cursus a quam at, vulputate consequat ante. Maecenas vel risus at ante ornare aliquam. Proin risus mi, pellentesque sit amet rhoncus eu, rutrum non ipsum. Praesent cursus fringilla eros, euismod tincidunt dolor rutrum sed. Phasellus tristique non tortor vitae varius. Nam in vestibulum est, ut volutpat urna. Mauris eu vehicula justo, pretium vulputate purus.</p>

		</div>

	{# Forms #}

		<div class="container--layout triple-padding--top">

			<h2 class="margin--bottom">Forms</h2>

			<hr>

		</div>

		<div class="container--copy double-padding--top">

			<p class="margin--bottom">Forms require...</p>

			<form>

				<div class="error">

					<img src="/images/icons/exclamation-circle-crimson.svg" alt="Error Icon">

					<span>Uh oh! These credentials don't seem to match our records.</span>

				</div>

				<div class="alert">

					<img src="/images/icons/notification-plum.svg" alt="Error Icon">

					<span>Heads up! We wanted to let you know that there is important information on this page.</span>

				</div>

				<div class="flex-grid gutter">

					<div class="box b-full tl-1of2 input">

						<label>My Name</label>

						<span class="required-label">Required</span>

						<input
							placeholder="Clark Kent"
							required
							type="text"/>

						<span class="error-copy">The field above is required.</span>

					</div>

					<div class="box b-full tl-1of2 input invalid">

						<label>My Name</label>

						<span class="required-label">Required</span>

						<input
							placeholder="Diana Prince"
							required
							type="text"/>

						<span class="error-copy">The field above is required.</span>

					</div>

					<div class="box b-full input">

						<label>My Name</label>

						<span class="required-label">Required</span>

						<textarea
							placeholder="Bruce Wayne"
							required>Batman</textarea>

						<span class="error-copy">The field above is required.</span>

					</div>

					<div class="box b-full input">

						<label>Select Your Partner</label>

						<span class="required-label">Required</span>

						<div
							class="select">

							<img src="/images/icons/chevron-down.svg" alt="Dropdown Chevron">

							<select>

								<option>Aquaman</option>
								<option>Martian Manhunter</option>
								<option>Booster Gold</option>
								<option>The Flash</option>

							</select>

						</div>

						<span class="error-copy">The field above is required.</span>

					</div>

				</div>

			</form>

		</div>

{% endblock %}