{# =============================================================================

    Talent Cloud
    Design System

============================================================================= #}
{% extends "layouts/core" %}

{% block title %}

    Talent Cloud's Design System

{% endblock %}

{% block body %}

    {# Title #}

        <div class="bg-slate center triple-padding">

            <h1 class="bold white margin--bottom">Talent Cloud <img src="/images/icons/maple-leaf-crimson.svg" title="Canadian Maple Leaf"></h1>

            <h5 class="white">Design Framework</h5>

        </div>

    <div class="bg-gray--light">

        <div class="design-system container--layout">

            <div class="flex-grid gutter">

                <div class="box b-full tl-1of4">

                    <div class="sidebar double-margin--top double-margin--bottom">

                        <h3 class="bold margin--bottom">Talent Cloud <img src="/images/icons/maple-leaf-crimson.svg" title="Canadian Maple Leaf"></h3>

                        <a
                            href="#methodologies"
                            title="Visit the methodologies section.">
                            Methodologies
                        </a>

                        <a
                            href="#colour"
                            title="Visit the colour section.">
                            Colour
                        </a>

                        <a
                            href="#typography"
                            title="Visit the typography section.">
                            Typography
                        </a>

                        <a
                            href="#forms"
                            title="Visit the forms section.">
                            Forms
                        </a>

                        <a
                            href="#components"
                            title="Visit the components section.">
                            Components
                        </a>

                    </div>

                </div>

                <div class="box b-full tl-3of4">

                    <div class="bg-white double-padding double-margin--top double-margin--bottom rounded">

                        {# Methodologies #}

                            <div>

                                <a class="sidebar-anchor" id="methodologies"></a>

                                <h2 class="margin--bottom">Methodologies</h2>

                                <hr>

                            </div>

                            <div class="double-padding--top">

                                <div class="alert">

                                    <img src="/images/icons/notification-plum.svg" alt="Error Icon">

                                    <span>We take an iterative approach to our design work, and that means that even this page might change as we receive feedback!</span>

                                </div>

                                <h3 class="margin--bottom">Our Design Philosophy</h3>

                                <p>Things</p>

                                <h3 class="double-margin--top margin--bottom">Iterative Design</h3>

                                <p>Things</p>

                                <h3 class="double-margin--top margin--bottom">Open by Default</h3>

                                <p>Things</p>

                            </div>

                        {# Colour #}

                            <div class="triple-padding--top">

                                <a class="sidebar-anchor" id="colour"></a>

                                <h2 class="margin--bottom">Colour</h2>

                                <hr class="double-margin--bottom">

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-1of4 bg-plum double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of4 bg-wine double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of4 bg-crimson double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of4 bg-sunrise double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <p class="double-margin--bottom">Colour is an important part of Talent Cloud's identity as a people-first platform.</p>

                                <h3 class="margin--bottom">Plum</h3>

                                <p class="margin--bottom">Plum is used in the following cases:</p>

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-1of6 bg-plum--dark double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-2of3 bg-plum double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of6 bg-plum--light double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h3 class="margin--bottom">Wine</h3>

                                <p class="margin--bottom">Wine is used in the following cases:</p>

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-1of6 bg-wine--dark double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-2of3 bg-wine double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of6 bg-wine--light double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h3 class="margin--bottom">Crimson</h3>

                                <p class="margin--bottom">Crimson is used in the following cases:</p>

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-1of6 bg-crimson--dark double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-2of3 bg-crimson double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of6 bg-crimson--light double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h3 class="margin--bottom">Sunrise</h3>

                                <p class="margin--bottom"><span class="bold">Tip: </span>Sunrise is used exclusively to highlight importance or indicate an important an action.</p>

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-1of6 bg-sunrise--dark double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-2of3 bg-sunrise double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of6 bg-sunrise--light double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h3 class="margin--bottom">Slate, Grey, &amp; White</h3>

                                <p class="margin--bottom">Slate and white are used as follows:</p>

                                <div class="flex-grid rounded double-margin--bottom bg-white">

                                    <div class="box b-1of5 bg-slate double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of5 bg-gray--dark double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of5 bg-gray double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of5 bg-gray--light double-padding--top double-padding--bottom">

                                    </div>

                                    <div class="box b-1of5 double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h3 class="margin--bottom">Other Use Cases</h3>

                                <h4 class="bold crimson margin--bottom">Gradients</h4>

                                <p class="margin--bottom">Plum to Crimson is used in the following cases:</p>

                                <div class="flex-grid rounded double-margin--bottom">

                                    <div class="box b-full bg-rise double-padding--top double-padding--bottom">

                                    </div>

                                </div>

                                <h4 class="bold crimson margin--bottom">Progress</h4>

                                <p class="margin--bottom">Plum, Wine, Crimson, and Sunrise can be used to indicate progress, with Sunrise being used as the final, most important result.</p>

                            </div>

                        {# Typography #}

                            <div class="triple-padding--top">

                                <a class="sidebar-anchor" id="typography"></a>

                                <h2 class="margin--bottom">Typography</h2>

                                <hr>

                            </div>

                            <div class="double-padding--top">

                                <h3 class="margin--bottom">Open Sans by Steve Matteson</h3>

                                <h4 class="bold crimson margin--bottom">Apache License 2.0</h4>

                                <p class="margin--bottom">Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. This version contains the complete 897 character set, which includes the standard ISO Latin 1, Latin CE, Greek and Cyrillic character sets. <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank" title="Visit Open Sans on Google Fonts">Open Sans</a> was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.</p>

                                <p class="margin--bottom">Talent Cloud uses a Sass 1.333 type scale for its typography.</p>

                                <pre class="double-margin--bottom">{% include "common/design-system/code-font-scale" %}</pre>

                                <h1 class="margin--bottom">H1: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h1>

                                <h2 class="margin--bottom">H2: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h2>

                                <h3 class="margin--bottom">H3: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h3>

                                <h4 class="margin--bottom">H4: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h4>

                                <h5 class="double-margin--bottom">H5: Thin, <span class="bold">Bold</span>, <span class="crimson">Coloured</span></h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae felis at purus molestie luctus. Duis maximus magna ante, id pellentesque purus vestibulum vel. Aliquam erat volutpat. Aliquam mattis turpis a ligula blandit gravida. Fusce lobortis tempus augue quis venenatis. Proin sed lobortis purus. Donec vitae libero id lectus ultrices dignissim convallis ut augue. Etiam imperdiet tellus at dictum molestie. Duis ex dolor, cursus a quam at, vulputate consequat ante. Maecenas vel risus at ante ornare aliquam. Proin risus mi, pellentesque sit amet rhoncus eu, rutrum non ipsum. Praesent cursus fringilla eros, euismod tincidunt dolor rutrum sed. Phasellus tristique non tortor vitae varius. Nam in vestibulum est, ut volutpat urna. Mauris eu vehicula justo, pretium vulputate purus.</p>

                                <div class="double-padding--top">

                                    <div class="flex-grid gutter">

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-white center padding rounded">

                                                <span>Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-white center padding rounded">

                                                <span class="plum">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-white center padding rounded">

                                                <span class="wine">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-white center padding rounded">

                                                <span class="crimson">Aa</span>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="padding--top">

                                    <div class="flex-grid gutter">

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-slate center padding rounded">

                                                <span class="white">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-plum center padding rounded">

                                                <span class="white">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-wine center padding rounded">

                                                <span class="white">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-crimson center padding rounded">

                                                <span class="white">Aa</span>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="padding--top">

                                    <div class="flex-grid gutter">

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-plum center padding rounded">

                                                <span class="white bold">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-wine center padding rounded">

                                                <span class="white bold">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-crimson center padding rounded">

                                                <span class="white bold">Aa</span>

                                            </div>

                                        </div>

                                        <div class="box b-1of4 dm-1of6">

                                            <div class="bg-sunrise center padding rounded">

                                                <span class="white bold">Aa</span>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        {# Forms #}

                            <div class="triple-padding--top">

                                <a class="sidebar-anchor" id="forms"></a>

                                <h2 class="margin--bottom">Forms</h2>

                                <hr>

                            </div>

                            <div class="double-padding--top">

                                <p class="margin--bottom">Our forms require...</p>

                                <div class="button-grid center padding--bottom">

                                    <button
                                        class="button--outline--plum"
                                        type="button">
                                        Submit
                                    </button>

                                    <button
                                        class="button--solid--plum"
                                        type="button">
                                        Submit
                                    </button>

                                    <button
                                        class="button--outline--wine"
                                        type="button">
                                        Option
                                    </button>

                                    <button
                                        class="button--solid--wine"
                                        type="button">
                                        Option
                                    </button>

                                    <button
                                        class="button--outline--crimson"
                                        type="button">
                                        Cancel
                                    </button>

                                    <button
                                        class="button--solid--crimson"
                                        type="button">
                                        Cancel
                                    </button>

                                    <button
                                        class="button--outline--sunrise"
                                        type="button">
                                        Click Here
                                    </button>

                                    <button
                                        class="button--solid--sunrise"
                                        type="button">
                                        Click Here
                                    </button>

                                </div>

                                <form>

                                    {# Form Error #}

                                        <div class="error">

                                            <img src="/images/icons/exclamation-circle-crimson.svg" alt="Error Icon">

                                            <span>Uh oh! These credentials don't seem to match our records.</span>

                                        </div>

                                    {# Form Alert #}

                                        <div class="alert">

                                            <img src="/images/icons/notification-plum.svg" alt="Error Icon">

                                            <span>Heads up! We wanted to let you know that there is important information on this page.</span>

                                        </div>

                                    {# Form Elements #}

                                        <div class="flex-grid gutter">

                                            <div class="box b-full tl-1of2 input">

                                                <label>My Name</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <input
                                                        placeholder="e.g. Clark Kent"
                                                        required
                                                        type="text"/>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                            <div class="box b-full tl-1of2 input invalid">

                                                <label>My Name</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <input
                                                        placeholder="e.g. Diana Prince"
                                                        required
                                                        type="text"/>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                            <div class="box b-full input">

                                                <label>My Story</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <textarea
                                                        placeholder="e.g. One day Bruce Wayne..."
                                                        required>I am Batman.</textarea>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                            <div class="box b-full copy">

                                                <p>This is an example of paragraph text inside of a form. This type of text can be used for instructional or contextual purposes.</p>

                                            </div>

                                            <div class="box b-full input">

                                                <label>My Preferred Partner</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <div
                                                        class="select">

                                                        <img src="/images/icons/chevron-down.svg" alt="Dropdown Chevron">

                                                        <select>

                                                            <option>Aquaman</option>
                                                            <option>Zatanna</option>
                                                            <option>Martian Manhunter</option>
                                                            <option>Booster Gold</option>
                                                            <option>Hawkgirl</option>
                                                            <option>The Flash</option>
                                                            <option>Atom</option>
                                                            <option>Green Lantern</option>

                                                        </select>

                                                    </div>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                            <div class="box b-full tl-1of2 input">

                                                <label>Today's Date</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <input
                                                        type="date"/>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                            <div class="box b-full tl-1of2 input">

                                                <label>My Password</label>

                                                <span class="required-label">Required</span>

                                                <div class="input-wrapper">

                                                    <div class="password">

                                                        <input
                                                            id=""
                                                            required
                                                            type="password"
                                                            value="G1assesAreTheBestDisguise"/>

                                                        <button type="button">
                                                            <img src="/images/icons/eye.svg" alt="Show/Hide Password">
                                                        </button>

                                                    </div>

                                                    <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                </div>

                                            </div>

                                        </div>

                                    {# Fieldset Example #}

                                        <fieldset>

                                            <div class="flex-grid gutter">

                                                <legend class="box b-full">
                                                    Fieldset Information
                                                </legend>

                                                <div class="box b-full copy">

                                                    <p>This is an example of paragraph text inside of a form. This type of text can be used for instructional or contextual purposes.</p>

                                                </div>

                                                {# Radio Selection #}

                                                    <div class="box b-full input">

                                                        <label>My Level</label>

                                                        <span class="required-label">Required</span>

                                                        <div class="input-wrapper">

                                                            <div 
                                                                aria-orientation="horizontal"
                                                                class="radio-group flex-grid"
                                                                role="radiogroup">

                                                                <label 
                                                                    class="box b-full tp-1of4"
                                                                    for="r1">

                                                                    <input
                                                                        id="r1"
                                                                        name="sample-radio-group"
                                                                        type="radio"
                                                                        checked />

                                                                    <span>Beginner</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-full tp-1of4"
                                                                    for="r2">

                                                                    <input
                                                                        id="r2"
                                                                        name="sample-radio-group"
                                                                        type="radio" />

                                                                    <span>Intermediate</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-full tp-1of4"
                                                                    for="r3">

                                                                    <input
                                                                        id="r3"
                                                                        name="sample-radio-group"
                                                                        type="radio" />

                                                                    <span>Advanced</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-full tp-1of4"
                                                                    for="r4">

                                                                    <input
                                                                        id="r4"
                                                                        name="sample-radio-group"
                                                                        type="radio" />

                                                                    <span>Lead</span>

                                                                </label>

                                                            </div>

                                                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                        </div>

                                                    </div>

                                                {# Checkbox List #}

                                                    <div class="box b-full input">

                                                        <label>I want the following superpowers:</label>

                                                        <span class="required-label">Required</span>

                                                        <div class="input-wrapper">

                                                            <div class="checkbox-group flex-grid gutter">

                                                                <label 
                                                                    class="box b-1of2 tl-1of3 dl-1of4"
                                                                    for="c1">

                                                                    <input
                                                                        id="c1"
                                                                        type="checkbox" />

                                                                        <span>Flight</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-1of2 tl-1of3 dl-1of4"
                                                                    for="c2">

                                                                    <input
                                                                        id="c2"
                                                                        type="checkbox" />

                                                                        <span>Strength</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-1of2 tl-1of3 dl-1of4"
                                                                    for="c3">

                                                                    <input
                                                                        id="c3"
                                                                        type="checkbox" />

                                                                        <span>Laser Vision</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-1of2 tl-1of3 dl-1of4"
                                                                    for="c4">

                                                                    <input
                                                                        id="c4"
                                                                        type="checkbox" />

                                                                        <span>Invulnerability</span>

                                                                </label>

                                                                <label 
                                                                    class="box b-1of2 tl-1of3 dl-1of4"
                                                                    for="c5">

                                                                    <input
                                                                        id="c5"
                                                                        type="checkbox" />

                                                                        <span>Telekinesis</span>

                                                                </label>

                                                            </div>

                                                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                        </div>

                                                    </div>

                                                {# Input (Number) #}

                                                    <div class="box b-full tl-1of3 input">

                                                        <label># of Sidekicks</label>

                                                        <span class="required-label">Required</span>

                                                        <div class="input-wrapper">

                                                            <input
                                                                placeholder="0"
                                                                required
                                                                type="number"/>

                                                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                        </div>

                                                    </div>

                                                {# Input (URL) #}

                                                    <div class="box b-full tl-2of3 input">

                                                        <label>My Website</label>

                                                        <span class="required-label">Required</span>

                                                        <div class="input-wrapper">

                                                            <input
                                                                placeholder="e.g. http://talent.canada.ca"
                                                                required
                                                                type="url"/>

                                                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                                                        </div>

                                                    </div>

                                            </div>

                                        </fieldset>

                                    {# Form Actions #}

                                        <div class="flex-grid gutter actions">

                                            <div class="box b-full pl-1of2">

                                                <button
                                                    class="button--outline--crimson"
                                                    type="button">
                                                    Cancel
                                                </button>

                                            </div>

                                            <div class="box b-full pl-1of2">

                                                <button
                                                    class="button--solid--plum"
                                                    type="button">
                                                    Submit
                                                </button>

                                            </div>

                                        </div>

                                </form>

                            </div>

                        {# Components #}

                            <div class="triple-padding--top">

                                <a class="sidebar-anchor" id="components"></a>

                                <h2 class="margin--bottom">Components</h2>

                                <hr>

                                <div class="double-padding--top">

                                    <div class="flex-grid gutter">

                                        {# Impact-based Job Summary #}

                                            <div class="box b-full tp-1of2">

                                                <a 
                                                    class="card job-summary"
                                                    href=""
                                                    title="Visit this job.">

                                                    <div class="bg-slate padding">

                                                        <h4 class="white half-margin--bottom bold">Front-end Developer</h4>

                                                        <span class="white">Treasury Board of Canada Secretariat</span>

                                                    </div>

                                                    <div class="bg-wine padding">

                                                        <span class="white bold">Apply by: <span><span class="white">July 5th 2019, 9PM EST</span>

                                                    </div>

                                                    <div class="content padding">

                                                        <div class="flex-grid gutter">

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Location
                                                                </span>

                                                                <span class="summary-copy">
                                                                    Ottawa, Ontario
                                                                </span>

                                                            </div>

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Annual Salary
                                                                </span>

                                                                <span>
                                                                    $67,000 - $90,000
                                                                </span>

                                                            </div>

                                                            <div class="box b-full">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Impact
                                                                </span>

                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis.
                                                                </p>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="view-link bg-slate padding">

                                                        <span class="white bold">View Job</span>

                                                    </div>

                                                </a>

                                            </div>

                                        {# Taxonomy-based Job Summary #}

                                            <div class="box b-full tp-1of2">

                                                <a 
                                                    class="card job-summary"
                                                    href=""
                                                    title="Visit this job.">

                                                    <div class="bg-slate padding">

                                                        <h4 class="white half-margin--bottom bold">Digital User Experience Designer</h4>

                                                        <span class="white">Natural Resources Canada</span>

                                                    </div>

                                                    <div class="bg-wine padding">

                                                        <span class="white bold">Apply by: <span><span class="white">December 25th 2019, 2PM EST</span>

                                                    </div>

                                                    <div class="content padding">

                                                        <div class="flex-grid gutter">

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Location
                                                                </span>

                                                                <span class="summary-copy">
                                                                    Ottawa, Ontario
                                                                </span>

                                                            </div>

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Annual Salary
                                                                </span>

                                                                <span>
                                                                    $67,000 - $90,000
                                                                </span>

                                                            </div>

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Duration
                                                                </span>

                                                                <span class="summary-copy">
                                                                    14 Months
                                                                </span>

                                                            </div>

                                                            <div class="box b-full pl-1of2">

                                                                <span class="half-margin--bottom block crimson bold">
                                                                    Remote Work
                                                                </span>

                                                                <span>
                                                                    Allowed
                                                                </span>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="view-link bg-slate padding">

                                                        <span class="white bold">View Job</span>

                                                    </div>

                                                </a>

                                            </div>

                                    </div>

                                </div>

                            </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}